jdk/* filter=lfs diff=lfs merge=lfs -text
modules filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.gradle filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
*.properties filter=lfs diff=lfs merge=lfs -text
/gradlew filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
/jdk/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/LICENSE filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.access filter=lfs diff=lfs merge=lfs -text
*.template filter=lfs diff=lfs merge=lfs -text
*.policy filter=lfs diff=lfs merge=lfs -text
*.security filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.jmod filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.base/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.base/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.base/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.compiler/ADDITIONAL_LICENSE_INFO filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.compiler/ASSEMBLY_EXCEPTION filter=lfs diff=lfs merge=lfs -text
/jdk/legal/java.compiler/LICENSE filter=lfs diff=lfs merge=lfs -text
/jdk/lib/classlist filter=lfs diff=lfs merge=lfs -text
*.sym filter=lfs diff=lfs merge=lfs -text
*.bfc filter=lfs diff=lfs merge=lfs -text
*.src filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.jfc filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
/jdk/lib/modules filter=lfs diff=lfs merge=lfs -text
*.ja filter=lfs diff=lfs merge=lfs -text
*.certs filter=lfs diff=lfs merge=lfs -text
/jdk/lib/security/cacerts filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
/jdk/lib/tzmappings filter=lfs diff=lfs merge=lfs -text
/jdk/release filter=lfs diff=lfs merge=lfs -text
*.log filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.java filter=lfs diff=lfs merge=lfs -text
/src/test/java/org/example/tools/cipher/key filter=lfs diff=lfs merge=lfs -text
/src/test/java/org/example/tools/cipher/password filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.feature filter=lfs diff=lfs merge=lfs -text
*.chromedriver filter=lfs diff=lfs merge=lfs -text
